## Configuracion de la base de datos Postgres
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=your_password_here
PGDEFAULTDB=postgres

# nombr de la base de datos 
DB_NAME=equiporocketDb

# puerto del microservicio
PORT=4002
