# API Gateway Configuration

# Gateway port
PORT=8000

# Microservices URLs (Docker network)
MS_AUTH_URL=http://ms_auth:3001
MS_USUARIOS_URL=http://ms_usuarios:3003
MS_POKEMON_URL=http://ms_pokemon:3002
MS_CARGA_API_URL=http://ms_carga_api:8000
MS_MONTECARLO_URL=http://ms_montecarlo:8010
MS_ASISTENCIA_URL=http://ms_asistencia:8005

# For local development (without Docker)
# PORT=8000
# MS_AUTH_URL=http://localhost:3001
# MS_USUARIOS_URL=http://localhost:3003
# MS_POKEMON_URL=http://localhost:3002
# MS_CARGA_API_URL=http://localhost:8000
# MS_MONTECARLO_URL=http://localhost:8010
# MS_ASISTENCIA_URL=http://localhost:8005
